=(link_to '<i class="fa fa-plus" aria-hidden="true"></i> new article'.html_safe, new_writeup_path, class: "btn btn-primary") if is_admin?
-@writeups.reorder(:date).each do |writeup|
  %hr
  .writeup
    .row
      .col-xs-3
        =image_tag(writeup.image_url(:thumb)) if writeup.image?
        %p.writeup-image
      .col-xs-9
        %p.writeup-link
          =link_to writeup.caption, writeup.url, target: "_blank"
        %p.writeup-description
          =writeup.description
          =writeup.date
        -if is_admin?
          =link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, writeup, method: :delete, :data => { :confirm => "Are you sure you want to permanently delete this writeup entry?"}, class: "btn btn-danger"
          =link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_writeup_path(writeup), class: "btn btn-warning btn-small"
