-admin = current_user && current_user.admin?
=(link_to '<i class="fa fa-plus" aria-hidden="true"></i> new article'.html_safe, new_writeup_path, class: "btn btn-primary") if admin
-@writeups.reorder(:date).each do |writeup|
  %hr
  .writeup
    .row
      .col-xs-2
        -if admin
          =link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, writeup, method: :delete, :data => { :confirm => "Are you sure you want to permanently delete this writeup entry?"}, class: "btn btn-danger"
          =link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_writeup_path(writeup), class: "btn btn-warning btn-small"
        %p.writeup-date
          =writeup.date
      .col-xs-10
        %p.writeup-link
          =link_to writeup.caption, writeup.url, target: "_blank"
      .col-xs-12
        %p.writeup-description
          =writeup.description
