// Place all the styles related to the writeups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.writeup-date {
  text-align: left;
  font-weight: bold;

}

p.writeup-link {

}
p.writeup-description {
    font-style: italic;
}
